/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-right:0 !important;
  /* background-color: #444444; */
  /* overflow-x: hidden; */
}
/* body::-webkit-scrollbar {
  display: none;
} */

a {
  color: #000000;
  text-decoration: none;
}

ul li {
  list-style: none;
}
.fit-cover {
  object-fit: cover;
}

@media (min-width: 768px) {
  .fit-cover {
    position: absolute;
  }
}

.swiper-container {
  overflow: visible;
  border-radius: 15px;
  /* overflow: hidden; */
}

.fc .fc-prev-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
  
}
.fc .fc-prev-button:active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
  
}
.fc .fc-prev-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color: #b30003;
  
}
.fc .fc-next-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
}
.fc .fc-next-button:active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
}
.fc .fc-next-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color: #b30003;
}
.fc .fc-today-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
}
.fc .fc-today-button:active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
}
.fc .fc-today-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color:#b30003;
}

.fc .fc-dayGridMonth-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
}
.fc .fc-dayGridMonth-button.active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
}
.fc .fc-dayGridMonth-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color:#b30003;
}

.fc .fc-listMonth-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
}
.fc .fc-listMonth-button.active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
}
.fc .fc-listMonth-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color:#b30003;
}
.fc .fc-toolbar-title {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

/*--------------------------------------------------------------
  # Crop Text 
  --------------------------------------------------------------*/
.text-pdin-merah {
  color: #d82328;
}
.crop-text-1 {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.crop-text-4 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/*--------------------------------------------------------------
  # Text Color
  --------------------------------------------------------------*/
.text-pdin-merah {
  color: #d82328;
}
/*--------------------------------------------------------------
  # Background Color
  --------------------------------------------------------------*/
.bg-pdin-merah {
  background-color: #d82328;
}
.bg-pdin-abu-gelap {
  background-color: #8c8c8c;
}
.bg-pdin-abu-terang {
  background-color: #eaeaea;
}
.bg-pdin-hitam {
  background-color: #1e1919;
}

/*--------------------------------------------------------------
  # Navbar
  --------------------------------------------------------------*/
#navbar {
  padding: 10px 0px;
  transition: 0.4s;
  background-color: rgba(221, 222, 222, 0.8);
  padding-right:0 !important;
  /* background-color: rgba(255, 255, 255, 0.8); */
}
#navbar:hover {
  background-color: rgba(256, 256, 256, 1);
}

#navbarNav a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #111111;
  font-weight: 600;
  text-decoration: none;
}

#navbarNav a:hover {
  color: #d82328;
  text-decoration: none;
  font-weight: 700;
}

#navbarNav .active {
  color: #d82328;
  text-decoration: none;
  font-weight: 700;
}

#navBrand {
  position: absolute;
  background-color: rgba(256, 256, 256, 1);
  transition: 0.4s;
  z-index: 1;
  height: 140px;
  width: 330px;
  margin: 0px;
  margin-top: -30px;
  padding-top: 20px;
  border-radius: 0px 0px 41px 41px;
}

#logoPdin {
  margin: 0px;
  height: 85px;
  transition: 0.4s;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  #navBrand {
    height: 100px;
    width: 160px;
    border-radius: 0px 0px 24px 24px;
    margin-top: -30px;
    padding-top: 30px;
    /* margin: 0px; */
  }
  #logoPdin {
    height: 40px;
    /* margin-top: 0px; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  #navBrand {
    position: absolute;
    background-color: rgba(256, 256, 256, 1);
    transition: 0.4s;
    z-index: 1;
    height: 100px;
    width: 240px;
    margin: 0px;
    margin-top: -30px;
    padding-top: 20px;
    border-radius: 0px 0px 30px 30px;
  }

  #logoPdin {
    margin: 0px;
    height: 55px;
    transition: 0.4s;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #navBrand {
    position: absolute;
    background-color: rgba(256, 256, 256, 1);
    transition: 0.4s;
    z-index: 1;
    height: 100px;
    width: 240px;
    margin: 0px;
    margin-top: -30px;
    padding-top: 20px;
    border-radius: 0px 0px 30px 30px;
  }

  #logoPdin {
    margin: 0px;
    height: 55px;
    transition: 0.4s;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #navBrand {
    position: absolute;
    background-color: rgba(256, 256, 256, 1);
    transition: 0.4s;
    z-index: 1;
    height: 100px;
    width: 240px;
    margin: 0px;
    margin-top: -30px;
    padding-top: 20px;
    border-radius: 0px 0px 30px 30px;
  }

  #logoPdin {
    margin: 0px;
    height: 60px;
    transition: 0.4s;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #navBrand {
    position: absolute;
    background-color: rgba(256, 256, 256, 1);
    transition: 0.4s;
    z-index: 1;
    height: 120px;
    width: 280px;
    margin: 0px;
    margin-top: -30px;
    padding-top: 22px;
    border-radius: 0px 0px 41px 41px;
  }

  #logoPdin {
    margin: 0px;
    height: 70px;
    transition: 0.4s;
  }
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  #navBrand {
    position: absolute;
    background-color: rgba(256, 256, 256, 1);
    transition: 0.4s;
    z-index: 1;
    height: 140px;
    width: 330px;
    margin: 0px;
    margin-top: -30px;
    padding-top: 20px;
    border-radius: 0px 0px 41px 41px;
  }

  #logoPdin {
    margin: 0px;
    height: 85px;
    transition: 0.4s;
  }
}
.padding-tambahan {
  padding-top: 55px;
  padding-bottom: 55px;
}
/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#logoFooter {
  max-height: 80px;
  /* transition: 0.4s; */
}
.icon-footer {
  margin: 0px 0px;
  padding: 8px 0px;
}

.logo-pemda img {
  width: 25%;
  /* aspect-ratio: 2/2; */
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.logo-jogja img {
  width: 75%;
  /* aspect-ratio: 2/2; */
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.logo-yk img {
  width: 37%;
  /* aspect-ratio: 2/2; */
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.logo-jogja img:hover,
.logo-pemda img:hover,
.logo-yk img:hover {
  opacity: 1;
  filter: none;
}

/*--------------------------------------------------------------
  # Hero Section 
  p-5 = 48, p-4 = 24, p-3 = 16, p-2 = 8, p-1 = 4
  --------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: top center no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('./assets/hero-bg-1.jpg');
  background-size: cover;
  position: relative;
  /* padding-top: 40px; */
  padding-bottom: 20px;
  transition: 0.8s;
  /* transition-timing-function: ease-out; */
}

.highlight-header {
  position: relative;
  display: inline-block;
}
.highlight-header:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  margin-bottom: -10px;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.highlight-header:hover:after {
  width: 100%;
  left: 0;
}

#heri {
  /* width: 100%; */
  /* height: 30vh; */
  /* background: top center no-repeat; */
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 48px;
  padding-right: 48px;
  padding-left: 48px;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 82px;
}
#hero p {
  margin: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 26px;
}

#hero .btn-lihat-profil {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 20px;
  color: #fff;
  background: #e03a3c;
  border: 2px solid #e03a3c;
}

#hero .btn-lihat-profil:hover {
  background: transparent;
  border-color: #fff;
}

/* #calendar-breanda-bawah {
  min-height: 350px;
} */
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  #hero h1 {
    margin: 0;
    font-size: 34px;
    line-height: 46px;
    font-weight: 700;
    color: #fff;
  }
  #hero p {
    margin: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
  }
  #hero .btn-lihat-profil {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  #hero h1 {
    margin: 0;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
  }
  #hero p {
    margin: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
  }
  #hero .btn-lihat-profil {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #fff;
  }
  #hero p {
    margin: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
  }
  #hero .btn-lihat-profil {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  #hero h1 {
    margin: 0;
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
  }
  #hero p {
    margin: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
  }
  #calendar-breanda-bawah {
    height: 510px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #fff;
  }

  #hero p {
    margin: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
  }
  #hero .btn-lihat-profil {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 16px;
  }

  #calendar-breanda-bawah {
    height: 340px;
  }
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  #heri {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  #hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 82px;
  }
  #hero p {
    margin: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 26px;
  }

  #hero .btn-lihat-profil {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 16px;
    color: #fff;
    background: #e03a3c;
    border: 2px solid #e03a3c;
  }

  #calendar-breanda-bawah {
    height: 350px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
  # Sections General Halaman Beranda
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
  color: #000000;
}

.section-bg-white {
  padding: 100px 0;
  background-color: #eaeaea;
}

.section-bg-black {
  padding: 100px 0;
  background-color: #1e1919;
}
.board-red {
  background-color: red;
  height: 1px;
}
.board-white {
  background-color: white;
  height: 1px;
}
.board-black {
  background-color: black;
  height: 1px;
}

/* 
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 25px);
  } */
.section-description {
  font-size: 18px;
}
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .section-description {
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .section-description {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-description {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section-description {
    font-size: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-description {
    font-size: 16px;
  }
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .section-description {
    font-size: 16px;
  }
}
/*--------------------------------------------------------------
  # layanan Halaman Beranda
  --------------------------------------------------------------*/
.layanan .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #fafafa;
  transition: 0.3s;
  height:85%;
}

.layanan .icon-box:hover {
  background: #ffffff;
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.layanan .icon-box i {
  float: left;
  color: #d82328;
  font-size: 40px;
  line-height: 0;
}

.layanan .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.layanan .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.layanan .icon-box h4 a:hover {
  text-decoration: bold;
  color: #d82328;
}

.layanan .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
  color: #444444;
}

/*--------------------------------------------------------------
  # Kegiatan Halaman Beranda
  --------------------------------------------------------------*/
.cardo-img {
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('./hero-bg.jpg');
  background-size: cover;
}

/* .swiper-pagination {
  margin-top: 300px;
} */

.cardi {
  height: 250px;
}

.cardo {
  /* width: 345px; */
  height: 250px;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  /* padding: 5px; */
}
/* .cardo:hover {
    padding: 5px;
  } */

.imga {
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

/*--------------------------------------------------------------
  # Kegiatan Halaman Beranda
  --------------------------------------------------------------*/
.carousel-caption {
  max-width: 100%;
  width: 100%;
  max-height: 40%;
  height: 30%;
  /* background-color: #ffb81c; */
  left: 0;
  bottom: 0;
  /* backdrop-filter: blur(20px); */
  margin: 0px;
  /* background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); */
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel .carousel-indicators button {
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

/*--------------------------------------------------------------
  # Galeri Halaman Beranda
  --------------------------------------------------------------*/
.foto-galeri {
  border-radius: 8px;
}
.foto-galeri:hover {
  /* background: #ffffff; */
  transform: scale(1.05);
  transition: 0.9s; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*--------------------------------------------------------------
  #  Halaman Lain selain Beranda dan detail
  --------------------------------------------------------------*/

#background-hitam-atas {
  width: 100%;
  height: 45vh;
  background: top center no-repeat;
  background: #1e1919;

  border-bottom: 4px solid #d82328;
  position: relative;
}
#isi-section {
  margin-top: -150px;
}

@media (max-width: 768px) {
  #background-hitam-atas {
    height: 55vh;
  }
  #isi-section {
    margin-top: -150px;
  }
}
@media (max-height: 768px) {
  #background-hitam-atas {
    height: 60vh;
  }
  #isi-section {
    margin-top: -150px;
  }
}

/*--------------------------------------------------------------
  # Tab Nav Halaman Profil 
  --------------------------------------------------------------*/
.responsive-tab-menu .nav-pills .nav-link.active,
.responsive-tab-menu .nav-pills .show > .nav-link {
  /* color: yellow;
    background-color: aqua; */
  color: red;
  background: #fafafa;
  font-weight: 700;
}

.responsive-tab-menu .nav-pills .nav-link,
.responsive-tab-menu .nav-pills .show > .nav-link {
  /* color: yellow;
    background-color: aqua; */
  color: black;
}
@media (max-width: 991px) {
  .responsive-tab-content,
  .responsive-tab-menu {
    display: block !important;
  }

  .nav-pills.nav-tabs-dropdown,
  .nav-tabs-dropdown {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .nav-pills.nav-tabs-dropdown::after,
  .nav-tabs-dropdown::after {
    content: '☰';
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }

  .nav-pills.nav-tabs-dropdown.open a,
  .nav-tabs-dropdown.open a {
    position: relative;
    display: block;
  }

  /* .nav-pills.nav-tabs-dropdown.open>li.active>a,
              .nav-tabs-dropdown.open>li.active>a {
                  background-color: #eeeeee;
              } */

  .nav-pills.nav-tabs-dropdown li,
  .nav-tabs-dropdown li {
    display: block;
    padding: 0;
    /* vertical-align: bottom; */
  }

  .nav-pills.nav-tabs-dropdown > li > a,
  .nav-tabs-dropdown > li > a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-color: transparent;
  }

  .nav-pills.nav-tabs-dropdown > li > a:focus,
  .nav-tabs-dropdown > li > a:focus,
  .nav-pills.nav-tabs-dropdown > li > a:hover,
  .nav-tabs-dropdown > li > a:hover,
  .nav-pills.nav-tabs-dropdown > li > a:active,
  .nav-tabs-dropdown > li > a:active {
    border-color: transparent;
  }

  /* hh */
  .nav-pills.nav-tabs-dropdown > li > a.active,
  .nav-tabs-dropdown > li > a.active {
    display: block;
    border-color: transparent;
    position: relative;
    z-index: 1;
    background: #fff;
  }

  .nav-pills.nav-tabs-dropdown > li.active > a:focus,
  .nav-tabs-dropdown > li.active > a:focus,
  .nav-pills.nav-tabs-dropdown > li.active > a:hover,
  .nav-tabs-dropdown > li.active > a:hover,
  .nav-pills.nav-tabs-dropdown > li.active > a:active,
  .nav-tabs-dropdown > li.active > a:active {
    border-color: transparent;
  }
}

.background-rilismedia-launching {
  /*
    height: 35vh;
    background: top center no-repeat;
    background: #000000; */
  /* background-image: url('./galeri_3.jpg'); */
  /* border-bottom: 4px solid #d82328; */
  /* position: relative; */
  object-fit: cover;
  width: 100%;
  /* padding: 80px; */
}
.background-rilismedia-recent {
  object-fit: cover;
  width: 100%;
}

/*--------------------------------------------------------------
  # Button Share Halaman Rilismedia 
  --------------------------------------------------------------*/
.btn-twitter-1 {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee;
  /* font-weight: bold; */
  /* letter-spacing: 0.05em; */
  /* border-radius: 0; */
}

.btn-twitter-1:hover,
.btn-twitter-1:active,
.btn-twitter-1:focus,
.btn-twitter-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #33acee;
  color: #ffffff;
  border-color: #33acee;
}

.btn-linkedin-1 {
  color: #fff;
  background-color: #007bb5;
  border-color: #007bb5;
  /* font-weight: bold; */
  /* letter-spacing: 0.05em; */
  /* border-radius: 0; */
}

.btn-linkedin-1:hover,
.btn-linkedin-1:active,
.btn-linkedin-1:focus,
.btn-linkedin-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #005bb5;
  color: #ffffff;
  border-color: #005bb5;
}

.btn-facebook-1 {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  /* font-weight: bold; */
  /* letter-spacing: 0.05em; */
  /* border-radius: 0; */
}

.btn-facebook-1:hover,
.btn-facebook-1:active,
.btn-facebook-1:focus,
.btn-facebook-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #1b5998;
  color: #ffffff;
  border-color: #1b5998;
}

.btn-outline-pdin {
  color: #fff;
  border-color: #fff;
}

.btn-outline-pdin:hover,
.btn-outline-pdin:active,
.btn-outline-pdin:focus,
.btn-outline-pdin.active {
  background: #d82328;
  color: #ffffff;
  border-color: #d82328;
}

.swiper {
  padding-bottom: 45px;
  /* padding-bottom: 30px !important; */
}

.swiper-pagination .swiper-pagination-bullet {
  /* width: 12px; */
  /* height: 12px; */
  background-color: #fff;
  opacity: 0.9;
  border: 0.2px solid #e03a3c;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}

/* .swiper-container {
    padding-bottom: 25px;
  }
  .swiper-container-horizontal > .swiper-pagination {
    position: absolute;
    bottom: 0;
  } */

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: hsla(0, 100%, 70%, 0.1);
  /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
  /* border-left: 2em solid red; */
}
/* .accordion-button {
    font-weight: 600;
  } */

/*--------------------------------------------------------------
  # Modal Kegiatan
  --------------------------------------------------------------*/
.modal-dialog
  .modal-content
  .modal-body
  #link-pendaftaran-modal-kegiatan
  a:hover {
  color: #d82328;
}

.modal-dialog .modal-content .modal-body #link-virtual-modal-kegiatan a:hover {
  color: #d82328;
}

/*--------------------------------------------------------------
# susunan-pimpinan halaman profil
--------------------------------------------------------------*/
.susunan-pimpinan .anggota {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.susunan-pimpinan .anggota .anggota-img {
  position: relative;
  overflow: hidden;
}

.susunan-pimpinan .anggota .anggota-info {
  padding: 25px 15px;
}

.susunan-pimpinan .anggota .anggota-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.susunan-pimpinan .anggota .anggota-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.susunan-pimpinan .anggota .anggota-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

/*--------------------------------------------------------------
# Slider atas halaman artikel
--------------------------------------------------------------*/

/* border-radius: 15px 50px 30px 5px; ( top-left corner, top-right corner, 
 to bottom-right corner,  bottom-left corner): */
.img-slider-artikel {
  border-radius: 24px 24px 24px 24px;
}
.text-slider-artikel {
  border-radius: 24px 24px 24px 24px;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .img-slider-artikel {
    border-radius: 24px 24px 0px 0px;
  }
  .text-slider-artikel {
    border-radius: 0px 0px 24px 24px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .img-slider-artikel {
    border-radius: 24px 24px 0px 0px;
  }
  .text-slider-artikel {
    border-radius: 0px 0px 24px 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-slider-artikel {
    border-radius: 24px 0px 0px 24px;
  }
  .text-slider-artikel {
    border-radius: 0px 24px 24px 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-slider-artikel {
    border-radius: 24px 0px 0px 24px;
  }
  .text-slider-artikel {
    border-radius: 0px 24px 24px 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img-slider-artikel {
    border-radius: 24px 0px 0px 24px;
  }
  .text-slider-artikel {
    border-radius: 0px 24px 24px 0px;
  }
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .img-slider-artikel {
    border-radius: 24px 0px 0px 24px;
  }
  .text-slider-artikel {
    border-radius: 0px 24px 24px 0px;
  }
}

/* not active */
.nav-pills .pill-ruangan-alat .nav-link:not(.active) {
  background-color: rgba(140, 140, 140, 0.2);
  /* color: rgba(216, 35, 40, 0.4); */
}

/* active (faded) */
.nav-pills .pill-ruangan-alat .nav-link {
  background-color: rgba(216, 35, 40, 1);
  color: white;
  font-size: 18px;
  /* border-radius: 16px; */
}

.gal {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.gal img {
  width: 100%;
  padding: 7px 0;
}
@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

.wrapper {
  /* margin: 2em auto; */
  max-width: 1200px;
}

/* img {
  vertical-align: middle;
  max-width: 100%;
} */

.masonry {
  display: flex;
  width: 100%;
}

.masonry--h {
  flex-flow: row wrap;
}

.masonry--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.masonry--h,
.masonry--v {
  /* margin-left: -8px; Adjustment for the gutter */
  counter-reset: brick;
}

.masonry-brick {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 8px 16px 8px;  /* Some Gutter */
  /* background-color: #333; */
  color: white;
  position: relative;
}

/* .masonry-brick:after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5000;
  transform: translate(-50%, -50%);
  counter-increment: brick;
  content: counter(brick);
  transition: font-size .25s, opacity .25s ease-in-out;
  font-weight: 700;
  opacity: .5;
  font-size: 1.25em;
}

.masonry-brick:hover:after {
  font-size: 2.25em;
  opacity: 1;
} */

.masonry-brick--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}

@media only screen and (min-width: 992px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick--h:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick--h:nth-child(4n+4) {
    width: 380px;
  }

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-brick--v {
    width: 33.33333%;
  }
}


@media only screen and (min-width: 1200px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 300px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 375px;
  }
  .masonry-brick--h:nth-child(4n+3) {
    width: 230px;
  }
  .masonry-brick--h:nth-child(4n+4) {
    width: 430px;
  }

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-brick--v {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  /* Horizontal masonry bricks on tabled-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 200px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n+3) {
    width: 120px;
  }
  .masonry-brick--h:nth-child(4n+4) {
    width: 280px;
  }

  /* Adjusting vertical masonry height on tablet-sized screen */
  .masonry--v {
    max-height: 2000px;
  }

  /* Vertical masonry bricks on tablet-sized screen */
  .masonry-brick--v {
    width: 50%;
  }
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* filter: brightness(50%); */
}

.breadcrumb .breadcrumb-item a{
  color: #d82328;
}

/* .pagination .page-item .page-link{
  color: black;
} */

.page-link{
  color: black;
}

.page-link:hover{
  color: #d82328;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: white;
  background-color: #d82328;
  border-color: #d82328;
}

.file-block{
	border-radius: 10px;
	background-color: rgba(144, 163, 203, 0.2);
	margin: 5px;
	color: initial;
	display: inline-flex;
	& > span.name{
		padding-right: 10px;
		width: max-content;
		display: inline-flex;
	}
}
.file-delete{
	display: flex;
	width: 24px;
	color: initial;
	background-color: #6eb4ff00;
	font-size: large;
	justify-content: center;
	margin-right: 3px;
	cursor: pointer;
	&:hover{
		background-color: rgba(144, 163, 203, 0.2);
		border-radius: 10px;
	}
	& > span{
		transform: rotate(45deg);
	}
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar .brand {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 64px;
  font-weight: 900;
  color: #d82328;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  transition: all 0.3s ease;
  padding: 0 6px;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .iconi {
  /* min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center; */
  max-height: 35px;
  max-width: 35px;
  margin-right: 12px;
  border-radius: 30px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
  font-size: 12px;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background: #f1f0f6;
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
  background: #d82328;
  color: #fff;
}
#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8d8d8d;
  transition: all 0.3s ease;
  white-space: nowrap;
}
#sidebar.hide:hover .divider {
  text-align: left;
}
#sidebar.hide .divider {
  text-align: center;
}
#sidebar .side-dropdown {
  padding-left: 54px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
  max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
  color: #d82328;
}
/* SIDEBAR */

/* CONTENT */
#content-dashboard {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}
#sidebar.hide + #content-dashboard {
  width: calc(100% - 60px);
  left: 60px;
}
/* NAVBAR */
#nav-dashboard {
  background: #fff;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
#nav-dashboard .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
#nav-dashboard .profile {
  position: relative;
}
#nav-dashboard .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
#nav-dashboard .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #fff;
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
#nav-dashboard .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}
#nav-dashboard .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: #000;
  align-items: center;
  transition: all 0.3s ease;
}
#nav-dashboard .profile .profile-link a:hover {
  background: #f1f0f6;
}
/* NAVBAR */

/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
  min-height: 500px;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #content-dashboard {
    position: relative;
    width: calc(100% - 60px);
    transition: all 0.3s ease;
  }

  nav .divider {
    display: none;
  }
}

/* not active */
.nav-underline .nav-item .nav-link:not(.active) {
  /* background-color: rgba(140, 140, 140, 0.2); */
  color: rgba(216, 35, 40, 0.4);
}

/* active (faded) */
.nav-underline .nav-item .nav-link {
  /* background-color: rgba(216, 35, 40, 1); */
  color: rgba(216, 35, 40, 1);
  /* color: white; */
  font-size: 14px;
  /* border-radius: 16px; */
}

.modal-open{
  overflow: auto;
  padding-right:0 !important;
}