/* Hero */
  #hero {
    height: 100vh !important;
    background: center center no-repeat;
    background-size: cover;
    margin:0;
    position: relative;
    padding: 0;
    transition: 0.8s;
  }
  
  .highlight-header {
    position: relative;
    display: inline-block;
  }
  .highlight-header:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    margin-bottom: -10px;
    height: 2px;
    left: 50%;
    position: absolute;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .highlight-header:hover:after {
    width: 100%;
    left: 0;
  }
  
  #hero-container {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: var(--navbar-height-collapsed);
  }
  
  #hero h1 {
    font-weight: 700;
  }
  #hero p {
    font-weight: 500;
  }
  
  #hero .btn-lihat-profil {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 20px;
    color: #fff;
    background: #e03a3c;
    border: 2px solid #e03a3c;
  }
  
  #hero .btn-lihat-profil:hover {
    background: transparent;
    border-color: #fff;
  }