/* Full calendar styles */

/* Next button */
.fc .fc-next-button {
  transition: 0.3s;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--color-primary);
}
.fc .fc-next-button:active {
  background: var(--color-quaternary);
}
.fc .fc-next-button:hover {
  color: var(--color-on-primary);
  border: none;
  background: var(--color-primary);
}

/* Previous button */
.fc .fc-prev-button {
  transition: 0.3s;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--color-primary);
}
.fc .fc-prev-button:active {
  background: var(--color-quaternary);
}
.fc .fc-prev-button:hover {
  color: var(--color-on-primary);
  border: none;
  background: var(--color-primary);
}

/* Today button */
.fc .fc-today-button {
  transition: 0.3s;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--color-primary);
}
.fc .fc-today-button:active {
  background: var(--color-quaternary);
}
.fc .fc-today-button:hover {
  color: var(--color-on-primary);
  background: var(--color-primary);
}

.fc .fc-dayGridMonth-button {
  background: transparent;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--color-primary);
}
.fc .fc-dayGridMonth-button.active {
  background: var(--color-primary);
  color: var(--color-on-primary);
}
.fc .fc-dayGridMonth-button:hover {
  background: var(--color-primary);
  color: var(--color-on-primary);
}

.fc .fc-listMonth-button {
  background: transparent;
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--color-primary);
}
.fc .fc-listMonth-button.active {
  background: var(--color-primary);
  color: var(--color-on-primary);
}
.fc .fc-listMonth-button:hover {
  background: var(--color-primary);
  color: var(--color-on-primary);
}

/* List */
.fc .fc-list-empty {
  background-color: var(--color-surface-variant);
}

/* .fc .fc-listMonth-button {
  font-size: 10px;
  background: #d82328;
  border-color: #d82328;
}
.fc .fc-listMonth-button.active {
  font-size: 10px;
  background: #940002;
  border-color: #940002;
}
.fc .fc-listMonth-button:hover {
  font-size: 10px;
  background: #b30003;
  border-color:#b30003;
} 
.fc .fc-toolbar-title {
  font-size: 18px;
} */
